@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; 
  --background-start-rgb: 0, 0, 0; 
  --background-end-rgb: 0, 0, 0; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: rgb(238,217,196);
  background-size: cover; 
  background-attachment: fixed; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page-title {
  color: rgb(92, 52, 13);
  font-size: 5.5vw;
  font-family: 'Tahoma', 'sans-serif';
}

.title-background {
  position: absolute;
  z-index: -1;
  display: flex;
  place-items: center;
}
